*{
    margin: 0 0px;
    padding: 0 0px;
}
header{
    background-color: #383d58;
    color:white;
}
body{
    background-color: #01E0FF;
    color:white; 

}
.cabecalho-imagem{
    width: 20%;
}
 .cabecalho{
    background-color:#383d58;
    display: flex;
    justify-content: space-around;
 }
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 32px;
}
.escola-imagem{
    width: 40%;
}
.escola{
    background-image: linear-gradient(#383d58, #020064) ;
    display: flex;
    color: white;
}